.about {
  padding-top: 70px;
}

@media (min-width: em(1921)) {
  .about {
    padding-top: 0;
  }
}

.about__header {
  background: url(../img/timetable_bg.png) bottom no-repeat;
  margin-bottom: rem(88);
}

@media (min-width: em(1921)) {
  .about__header {
    background: url(../img/timetable_bg.png) bottom/100% no-repeat;
  }
}

.about__container {
  padding-top: 170px;
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: em(1921)) {
  .about__container {
    padding-top: 15%;
  }
}

.about__title {
  margin: 0px 0px 88px 0px;
}

.about__subtitle {
  font-size: 24px;
  line-height: 36px;
}

.about__center {
  margin-bottom: rem(95);
  position: relative;
  padding: 0px 20px;
}

.about__image-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  mix-blend-mode: multiply;
}

.about__wrap {
  max-width: 960px;
  margin: 0 auto;
  height: 560px;
  background: #365880;
  -webkit-box-shadow: 0px 28px 24px -20px rgba(0, 0, 0, 0.342657);
          box-shadow: 0px 28px 24px -20px rgba(0, 0, 0, 0.342657);
  border-radius: 20px;
  mix-blend-mode: normal;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.about__wrap::after {
  content: url(../img/play_btn_shadow.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__wrap:hover {
  z-index: 11;
}

.about__wrap:hover::after {
  opacity: 0;
}

@media (max-width: em(375)) {
  .about__wrap {
    height: 390px;
  }
}

.about__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__video:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
