.checkbox {
  margin: 0px 0px 0px 60px;
}

.checkbox__text {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  font-size: 12px;
  line-height: 18px;
}

.checkbox__link {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-decoration: underline;
  font-size: 12px;
  line-height: 18px;
}

.checkbox__link:link, .checkbox__link:visited {
  text-decoration: underline;
}

.checkbox__link:hover {
  text-decoration: none;
}
