.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__line {
  margin-bottom: rem(32);
  position: relative;
}

.form__line._form-focus .form__label {
  top: -25px;
  left: 0;
  opacity: 1;
  font-size: 12px;
  line-height: 22px;
}

.form__label {
  position: absolute;
  top: 16px;
  left: 16px;
  opacity: 0.63;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.form__input {
  background: rgba(255, 255, 255, 0.104868);
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
  width: 100%;
  padding: 12px 44px 12px 16px;
}

.form__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.251721);
}

.form__button {
  background: #0086cf;
  border-radius: 3px;
  padding: 14.5px 60px 14.5px 40px;
  position: relative;
}

.form__button::after {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  height: 100%;
  width: 31px;
  background: url(@img/form__button_arr.svg);
}

.form__button.btn-err {
  -webkit-animation: failBtnAnim 0.5s linear;
          animation: failBtnAnim 0.5s linear;
}

.form__input-clear {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 10px;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.form__input-clear._active {
  opacity: 0.5;
  pointer-events: all;
}

.form__input-clear._active:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.0699028);
  border-radius: 4px;
}

.parsley-error {
  border: 2px solid #cb2424;
}

.parsley-errors-list {
  color: #ff8f8f;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  top: -20px;
  right: 0;
}

@-webkit-keyframes failBtnAnim {
  0% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  25% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  50% {
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
  }
  75% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  100% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
}

@keyframes failBtnAnim {
  0% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  25% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  50% {
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
  }
  75% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  100% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
}

.checkbox {
  margin: 0px 0px 0px 60px;
}

.checkbox__text {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  font-size: 12px;
  line-height: 18px;
}

.checkbox__link {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-decoration: underline;
  font-size: 12px;
  line-height: 18px;
}

.checkbox__link:link, .checkbox__link:visited {
  text-decoration: underline;
}

.checkbox__link:hover {
  text-decoration: none;
}
