body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.8s ease 0s;
	pointer-events: none;
	z-index: 1490;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	cursor: url(@img/popup_close.svg) 28 28, move;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 1500;
	visibility: visible;
	// overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: translate(0px, 0px);
}
.popup__wrapper {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
}
.popup__content {
	visibility: hidden;
	transform: translate(120%, 0px);
	transition: all 0.6s ease 0s;
	background: #294160;
	padding: 60px 90px;
	width: 100%;
	max-width: 623px;
	height: 100%;
	box-shadow: 0px 4px 100px #000000;
	cursor: auto;
	@media (max-width: em(620)) {
		padding: 60px 20px;
	}
	.lock & {
		visibility: visible;
	}
}
.popup__close {
	position: absolute;
	top: 30px;
	right: 34px;
	z-index: 10;
	@media (max-width: em(500)) {
		top: 10px;
		right: 15px;
	}
}

.popup__title {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
	@media (max-width: $mobileSmall) {
		margin-top: rem(10);
		font-size: 23px;
	}
}
.popup__text {
	font-size: 17px;
	line-height: 22px;
	margin-bottom: 25px;
	@media (max-width: $mobileSmall) {
		font-size: 15px;
	}
}
.popup {
	.reserv {
		&__container {
			padding-left: 0;
			padding-right: 0;
		}
		&__title {
			margin-bottom: rem(15);
		}
		&__row {
			flex-direction: column;
			gap: 40px;
		}
		&__header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0;
		}
		&__svg {
			width: 335px;
			height: 207px;
			@media (max-width: em(375)) {
				width: 100%;
			}
		}
		&__form {
			margin-top: 0;
		}
		.form__row {
			flex-direction: column;
			align-items: flex-start;
		}
		.form__button {
			width: 100%;
			margin-bottom: rem(25);
		}
		.checkbox {
			margin: 0;
		}
	}
}

.popup {
	// .popup__body

	&__body {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		overflow: hidden;
	}

	// .popup__top

	&__top {
	}

	// .popup__title

	&__title {
	}

	// .popup__center

	&__center {
		height: 100%;
		overflow: auto;
		flex: 1 1 auto;
		&::-webkit-scrollbar {
			width: 0px;
		}
	}

	// .popup__text

	&__text {
		font-size: 18px;
		line-height: 26px;
		margin: 0 0 40px 0;
		@media (max-width: $mobileSmall) {
			margin: 0px 0px 20px 0px;
			font-size: 14px;
		}
	}

	// .popup__subtitle

	&__subtitle {
		font-weight: 600;
		font-size: 18px;
		margin: 0 0 10px 0;
	}

	// .popup__list

	&__list {
		padding-left: 18px;
	}

	// .popup__item

	&__item {
		list-style: disc;
	}
	.reserv {
		height: 100%;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 0;
		}
	}
}

.video-popup {
	padding: 0;
	&.popup_show {
		.popup__content {
			transform: scale(1);
			visibility: visible;
		}
	}
	.popup__wrapper {
		align-items: center;
	}
	.popup__content {
		padding: 0;
		background: transparent;
		transform: scale(0);
		box-shadow: none;
	}
	.popup__close {
		position: absolute;
		top: 30px;
		right: 20px;
		outline: none;
		z-index: 100;
	}
	&__video {
		border-radius: 20px;
		width: 100vw;
		height: calc(100vh - 60px);
		object-fit: cover;
	}
	&__wrapper {
		padding: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
