//<FORM>
// Снипет (HTML):
.form {
	&__row {
		display: flex;
		align-items: center;
	}

	&__column {}

	&__line {
		margin-bottom: rem(32);
		position: relative;

		&._form-focus {
			.form__label {
				top: -25px;
				left: 0;
				opacity: 1;
				font-size: 12px;
				line-height: 22px;
			}
		}
	}

	&__label {
		position: absolute;
		top: 16px;
		left: 16px;
		opacity: 0.63;
		transition: all 0.3s ease 0s;
		pointer-events: none;
	}

	&__input {
		background: rgba(255, 255, 255, 0.104868);
		border-radius: 5px;
		font-size: 18px;
		line-height: 22px;
		height: 48px;
		display: flex;
		align-items: center;
		color: #ffffff;
		mix-blend-mode: normal;
		width: 100%;
		padding: 12px 44px 12px 16px;

		&:focus {
			border: 1px solid rgba(255, 255, 255, 0.251721);
		}
	}

	&__button {
		background: #0086cf;
		border-radius: 3px;
		padding: 14.5px 60px 14.5px 40px;
		position: relative;

		&::after {
			top: 0;
			right: 0;
			content: "";
			position: absolute;
			height: 100%;
			width: 31px;
			background: url(@img/form__button_arr.svg);
		}

		&.btn-err {
			animation: failBtnAnim 0.5s linear;
		}
	}

	&__error {}

	&__input-clear {
		opacity: 0;
		cursor: pointer;
		position: absolute;
		right: 16px;
		top: 10px;
		width: 28px;
		height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		pointer-events: none;

		&._active {
			opacity: 0.5;
			pointer-events: all;

			&:hover {
				opacity: 1;
				background: rgba(255, 255, 255, 0.0699028);
				border-radius: 4px;
			}
		}
	}
}

.parsley-error {
	border: 2px solid #cb2424;
}

.parsley-errors-list {
	color: #ff8f8f;
	font-size: 12px;
	line-height: 18px;
	position: absolute;
	top: -20px;
	right: 0;
}

@keyframes failBtnAnim {
	0% {
		transform: translate(-10px, 0px);
	}

	25% {
		transform: translate(20px, 0px);
	}

	50% {
		transform: translate(-20px, 0px);
	}

	75% {
		transform: translate(20px, 0px);
	}

	100% {
		transform: translate(-10px, 0px);
	}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";