.detail-tour {
	// .detail-tour__fulscreen-block

	&__fulscreen-block {
		position: relative;
		height: 100vh;
		min-height: 650px;

		@media (max-width: $tablet) {
			height: 584px;
			min-height: none;
		}
	}

	// .detail-tour__fulscreen-image-ibg

	&__fulscreen-image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.info-block {
	@include adaptiveValue("margin-bottom", 50, 64);

	// .info-block__image-ibg

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 613px;

		// border-top-left-radius: 20px;
		// border-top-right-radius: 20px;
		// background: rgba(46, 74, 107, 0.5);
		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .info-block__wrapper

	&__wrapper {
		position: relative;
		@include adaptiveValue("max-width", 1600, 1218, 1920, 1280, 1);
		box-sizing: content-box;
		margin: 0 auto;
		background: rgba(46, 74, 107, 0.95);
		border-radius: 20px;

		@media (max-width: em(1280)) {
			@include adaptiveValue("max-width", 1218, 939, 1280, 1000, 1);
		}
	}

	// .info-block__row

	&__row {
		@include adaptiveValue("padding-left", 160, 75, 1920, 1280, 1);
		@include adaptiveValue("padding-right", 160, 75, 1920, 1280, 1);
		@include adaptiveValue("margin-top", -490, -320, 1920, 1000, 1);
		@include adaptiveValue("gap", 170, 60, 1920, 1280, 1);
		display: flex;
		padding: 80px 0px 80px 0px;

		@media (max-width: em(1280)) {
			padding: 70px 0px 70px 0px;
			@include adaptiveValue("padding-left", 75, 50, 1280, 1000, 1);
			@include adaptiveValue("padding-right", 75, 50, 1280, 1000, 1);
		}

		@media (max-width: $tablet) {
			padding: 55px 0px 55px 0px;
			@include adaptiveValue("padding-left", 50, 30, 1000, 680, 1);
			@include adaptiveValue("padding-right", 50, 30, 1000, 680, 1);
			flex-direction: column;
			gap: 25px;
		}

		@media (max-width: em(680)) {
			padding: 45px 20px 45px 20px;
		}
	}

	// .info-block__col

	&__col {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;

		&:last-child {
			flex: 0 0 405px;
			row-gap: 25px;
			@include adaptiveValue("padding-top", 58, 0, 1920, 1000, 1);
		}

		@media (max-width: em(1200)) {
			&:last-child {
				row-gap: 22px;
			}
		}
	}

	// .info-block__title

	&__title {
		margin-bottom: rem(45);

		img {
			width: 100%;
			height: 100%;
		}

		@media (max-width: em(1200)) {
			margin-right: rem(40);
			margin-bottom: rem(60);
		}

		@media (max-width: $tablet) {
			width: 330px;
			margin-right: auto;
			margin-bottom: rem(30);
		}

		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}

	// .info-block__dates

	&__dates {
		margin-bottom: rem(50);
		display: flex;
		justify-content: space-between;
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;

		@media (max-width: em(1200)) {
			flex-direction: column;
			row-gap: 17px;
		}

		@media (max-width: $tablet) {
			margin-bottom: rem(30);
		}
	}

	// .info-block__date

	&__date {}

	// .info-block__desc

	&__desc {
		padding-right: 37px;
		font-size: 24px;
		line-height: 36px;

		@media (max-width: em(1200)) {
			font-size: 20px;
			line-height: 28px;
		}
	}

	// .info-block__text

	&__text {
		font-size: 24px;
		line-height: 36px;

		&:not(:last-child) {
			margin-bottom: rem(50);
		}

		@media (max-width: em(1200)) {
			font-size: 20px;
			line-height: 28px;

			&:not(:last-child) {
				margin-bottom: rem(30);
			}
		}
	}

	// .info-block__link

	&__link {
		display: block;
		margin-bottom: rem(45);
		align-self: flex-start;
		max-width: 190px;
		height: 48px;
		padding: auto;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: em(1200)) {
			margin-bottom: rem(55);
		}

		@media (max-width: $tablet) {
			margin-bottom: rem(30);
		}
	}

	// .info-block__row-in

	&__row-in {
		display: flex;

		&:last-child {
			margin-top: rem(65);
			position: relative;

			&::before {
				content: "";
				width: 100%;
				position: absolute;
				top: -35px;
				left: 0;
				background: #d9e0e7;
				mix-blend-mode: normal;
				opacity: 0.5;
				height: 1px;
			}
		}

		@media (max-width: em(1200)) {
			&:last-child {
				margin-top: rem(47);
			}
		}

		@media (max-width: $mobile) {
			justify-content: space-between;
		}

		@media (max-width: em(375)) {
			flex-wrap: wrap;
		}
	}

	// .info-block__icon

	&__icon {
		flex: 0 0 24px;
		margin: 0px 20px 0px 0px;
	}

	// .info-block__icon-svg

	&__icon-svg {
		width: 24px;
		height: 24px;
	}

	// .info-block__row-name

	&__row-name {
		line-height: 20px;
		flex: 0 0 170px;
		margin-right: 60px;

		@media (max-width: $mobile) {
			margin-right: 25px;
		}

		@media (max-width: $mobileSmall) {
			flex: 0 0 121px;
		}

		@media (max-width: em(375)) {
			flex: 1 1 auto;
			margin-bottom: rem(10);
		}
	}

	// .info-block__row-value

	&__row-value {
		line-height: 20px;
		flex: 1 1 auto;

		@media (max-width: em(375)) {
			flex: 1 1 100%;
			padding-left: 44px;
		}
	}
}

.slider-video {
	background: url(../img/timetable_bg.png) bottom no-repeat;
	@include adaptiveValue("padding-bottom", 115, 0);
	@include adaptiveValue("margin-bottom", 95, 50);

	@media (min-width: em(1921)) {
		background: url(../img/timetable_bg.png) bottom / 100% no-repeat;
	}

	// .slider-video__header

	&__header {
		margin: 0px 0px 30px 0px;

		@media (min-width: em(550)) {
			margin: 0px 0px 55px 0px;
			display: flex;
			gap: 50px;
			align-items: center;
		}
	}

	// .slider-video__title

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;

		@media (max-width: em(549.49)) {
			margin-bottom: rem(20);
		}
	}

	// .slider-video__nav

	&__nav {
		.swiper-button {
			height: 55px;
			width: 55px;
			padding: 0px 19px;
			transition: all 0.3s ease 0s;
			border-radius: 4px;
			outline: none;

			&:hover {
				background: rgba(255, 255, 255, 0.0699028);
			}

			&.swiper-button-disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			// .swiper-button__svg

			&__svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	// .slider-video__content

	&__content {}

	// .slider-video__slider

	&__slider {
		&.swiper {
			overflow: visible;
		}
	}

	// .slider-video__wrapper

	&__wrapper {}

	// .slider-video__slide

	&__slide {
		cursor: pointer;
		position: relative;

		&.swiper-slide-next {
			z-index: 10 !important;
		}

		&:hover {
			z-index: 11;
		}

		&:nth-child(odd) {
			@include adaptiveValue("width", 320, 171, 680, 375, 1);
		}

		&:nth-child(even) {
			@include adaptiveValue("width", 250, 132, 680, 375, 1);
		}
	}
}

.slider-video {
	// .slider-video__slide

	&__slide {}

	// .slider-video__fancybox

	&__fancybox {
		display: block;
		transition: all 0.3s ease 0s;

		&.video {
			position: relative;

			&::before {
				content: url(../img/play_btn_shadow.svg);
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				bottom: 0px;
				transition: all 0.3s ease 0s;
				pointer-events: none;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&:hover {
				&::before {
					opacity: 0;
				}
			}
		}

		img,
		video {
			border-radius: 20px;
			overflow: hidden;
			width: 100%;
			@include adaptiveValue("height", 407, 217, 680, 375, 1);
			object-fit: cover;
		}

		img {}

		video {}
	}
}

.swiper-slide {}

.tour-timetable {
	margin-bottom: rem(140);

	@media (max-width: $tablet) {
		margin-bottom: rem(00);
	}

	// .tour-timetable__container

	&__container {}

	// .tour-timetable__row

	&__row {
		display: flex;
		justify-content: space-between;

		@media (min-width: $tablet) {
			&:not(:first-child) {
				.tour-timetable__desc {
					padding-top: 75px;
				}
			}

			&:nth-child(odd) {
				@include adaptiveValue("padding-left", 160, 80, 1920, 991);

				.tour-timetable__list {
					@include adaptiveValue("padding-left", 160, 0, 1920, 1280, 1);
					@include adaptiveValue("padding-right", 160, 110, 1920, 1280, 1);
				}

				@media (max-width: em(1280)) {
					.tour-timetable__list {
						@include adaptiveValue("padding-right", 110, 80, 1280, 1000, 1);
					}
				}

				@media (max-width: $tablet) {
					@include adaptiveValue("padding-left", 80, 20, 992, 680, 1);
				}
			}

			&:nth-child(even) {
				flex-direction: row-reverse;
				@include adaptiveValue("padding-right", 160, 80, 1920, 991);

				.tour-timetable__images {

					&::before,
					&::after {
						transform: scale(-1, 1);
					}
				}

				.tour-timetable__desc {
					@include adaptiveValue("padding-left", 160, 100, 1920, 1280, 1);
				}

				@media (max-width: em(1280)) {
					.tour-timetable__desc {
						@include adaptiveValue("padding-left", 100, 80, 1280, 1000, 1);
					}
				}

				@media (max-width: $tablet) {
					@include adaptiveValue("padding-right", 80, 20, 992, 680, 1);
				}
			}
		}

		@media (max-width: $tablet) {
			flex-direction: column-reverse;

			&:nth-child(even) {
				.tour-timetable__images {

					&::before,
					&::after {
						transform: scale(-1, 1);
					}
				}
			}
		}
	}

	// .tour-timetable__desc

	&__desc {
		flex: 0 1 45.5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-bottom: 60px;

		@media (max-width: $tablet) {
			padding-top: 60px;
			padding-bottom: 80px;
			@include adaptiveValue("padding-left", 80, 20, 1000, 375, 1);
			@include adaptiveValue("padding-right", 80, 20, 1000, 375, 1);
		}

		@media (max-width: $mobileSmall) {
			padding-bottom: 50px;
		}
	}

	// .tour-timetable__title

	&__title {
		margin-bottom: rem(60);
		@include adaptiveValue("width", 505, 320, 1920, 1280, 1);

		@media (max-width: $tablet) {
			@include adaptiveValue("width", 320, 200, 1000, 375, 1);
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	// .tour-timetable__list

	&__list {}

	// .tour-timetable__item

	&__item {
		font-size: 24px;
		line-height: 36px;

		&:not(:last-child) {
			margin-bottom: rem(45);
		}
	}

	// .tour-timetable__images

	&__images {
		flex: 0 1 54.5%;
		position: relative;
		height: 100%;

		@media (min-width: em(1921)) {
			flex: 0 1 53.2%;
		}

		&::before {
			content: "";
			width: 100%;
			height: 76px;
			top: 0;
			left: 0;
			position: absolute;
			background: url(@img/tour-timetable-shadow-top.svg) 100% / cover no-repeat;
		}

		&::after {
			content: "";
			width: 100%;
			height: 76px;
			bottom: 0;
			left: 0;
			position: absolute;
			background: url(@img/tour-timetable-shadow-bottom.svg) 100% / cover no-repeat;
		}

		img {
			width: 100%;
		}
	}
}

.included-tour {
	margin-bottom: rem(170);
	// .included-tour__container

	&__container {
		display: flex;
		gap: 50px;

		@media (max-width: em(1400)) {
			flex-wrap: wrap;
			gap: 100px;
		}

		@media (max-width: $mobile) {
			gap: 60px;
			@include adaptiveValue("padding-left", 85, 20, 780, 375, 1);
		}
	}

	// .included-tour__col

	&__col {
		flex: 0 1 25%;

		@media (max-width: em(1400)) {
			flex: 0 1 calc(50% - 50px);
		}

		@media (max-width: $mobile) {
			flex: 1 1 100%;
		}
	}

	// .included-tour__image

	&__image {
		margin-bottom: rem(25);
	}

	// .included-tour__title

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: rem(25);
	}

	// .included-tour__list

	&__list {}

	// .included-tour__item

	&__item {
		line-height: 24px;

		&:not(:last-child) {
			margin-bottom: rem(25);
		}
	}
}


//========================================================================================================================================================

.price-calc .select {
	// ._select-active

	&_select-active {}

	// .select__body

	&__body {}

	// .select__title

	&__title {
		background: #4a637f;
		border-radius: 5px;
		border: none;
		color: #fff;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
	}

	// .select__value

	&__value {
		min-height: 48px;

		&::after {
			background: url(../img/sel-arr-dwn.svg) 100%/contain no-repeat;
			flex: 0 0 12px;
		}
	}

	// .select__content

	&__content {}

	// .select__options

	&__options {
		background: #4a637f;
		top: 120%;
		border-radius: 5px;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		color: #fff;
	}

	// .select__option

	&__option {
		&[hidden] {
			background: #38506b;
		}

		&:hover {
			background: #38506b;
		}
	}
}



.price-calc {
	margin-bottom: rem(140);
	padding: 0 15px;

	// .price-calc__container

	&__container {
		appearance: none;
		max-width: 1380px;
		border-radius: 20px;
		padding: 0;
		background: rgba(255, 255, 255, 0.0329129);
	}

	// .price-calc__form

	&__form {}

	// .price-calc__top

	&__top {
		border-bottom: 1px solid rgba(255, 255, 255, 0.128747);
		padding: 40px 50px;

		@media (max-width:$mobile) {
			padding: 25px 10px;
		}
	}

	// .price-calc__title

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: rem(40);

		@media (max-width:$mobile) {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: rem(20);
		}
	}

	// .price-calc__cost

	&__cost {}

	// .price-calc__bottom

	&__bottom {
		padding: 30px 50px 60px;

		@media (max-width:$mobile) {
			padding: 25px 10px;
		}
	}

	// .price-calc__btn

	&__btn {
		display: inline-block;
		padding: 15.5px 35px 15.5px 25px;

		&.off {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	// .price-calc__link-to-cars

	&__link-to-cars {
		margin-top: rem(25);
		display: inline-block;
		line-height: 24px;
		border-bottom: 1px dashed #fff;

		&:hover {
			border-bottom: 1px solid transparent;
		}

		&:link,
		&:visited {}
	}
}

.cost-tour {

	// .cost-tour__row

	&__row {
		@media (min-width:em(1061)) {
			display: grid;
			grid-template-columns: 1fr 434px;
			gap: 30px;

		}
	}

	// .cost-tour__select-block

	&__select-block {
		gap: 17px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));

		@media (max-width: em(1060)) {
			grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
			margin-bottom: rem(20);
		}
	}

	// .cost-tour__label

	&__label {}

	// .cost-tour__sel-title

	&__sel-title {
		font-weight: 600;
		font-size: 17px;
		line-height: 21px;
		margin-bottom: rem(14);
		display: inline-block;
	}

	// .cost-tour__total

	&__total {}
}

.cost-title {
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	margin-bottom: rem(7);
}

.cost-price {
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
}

.cost-rent {

	// .cost-rent__row

	&__row {
		@media (min-width:em(1061)) {
			display: grid;
			grid-template-columns: 1fr 434px;
			gap: 30px;

		}
	}

	// .cost-rent__cheks

	&__cheks {
		@media (max-width: em(1060)) {
			margin-bottom: rem(30);
		}
	}

	// .cost-rent__cheks-top

	&__cheks-top {
		display: flex;
		flex-wrap: wrap;
		gap: 14px;
		margin-bottom: rem(40);

		@media (max-width:$mobileSmall) {
			.checkbox {
				flex: 1 1 100%;
			}
		}
	}

	// .cost-rent__cheks-cars

	&__cheks-cars {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
		column-gap: 16px;
		row-gap: 25px;

	}

	// .cost-rent__total

	&__total {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 35px;
	}

	// .cost-rent__top

	&__top {}

	// .cost-rent__bottom

	&__bottom {}
}

.price-calc .checkbox {
	margin: 0;

	&.car {
		grid-template-columns: min-content;

		.checkbox__label {
			height: 100%;

			&::after {
				justify-self: end;
			}
		}

		.car__descr {
			grid-row: 2/3;
			grid-column: 1/2;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			align-self: end;
		}

		.car__img {
			grid-column: 2/3;
			grid-row: 2/3;
			width: 84px;
			height: 50px;

			img {
				width: 100%;
				object-fit: contain;
			}
		}
	}

	// .checkbox__input

	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);

		&:checked+.checkbox__label {
			background: rgba(0, 0, 0, 0.174798);
			box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.5);

			&:hover {
				box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.5), 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
			}

			&::after {
				background: #fff url(../img/check.svg) center no-repeat;
				border: 2px solid #fff;
			}
		}

		&:focus+.checkbox__label {
			&::after {}
		}

		&:disabled+.checkbox__label {
			opacity: 0.3;

			&:hover {
				box-shadow: none;
			}

			&::after {}
		}

		&:checked:disabled+.checkbox__label {
			&:hover {
				box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.5);
			}

			&::after {}
		}
	}

	// .checkbox__label

	&__label {
		cursor: pointer;
		display: grid;
		grid-template-columns: 1fr auto;
		background: rgba(255, 255, 255, 0.104868);
		border-radius: 10px;
		padding: rem(13);
		transition: all 0.3s ease 0s;
		row-gap: 10px;

		&::after {
			content: '';
			display: block;
			background-color: transparent;
			border: 2px solid #979797;
			width: 24px;
			height: 24px;
			border-radius: 5px;
			margin-left: rem(15);
		}

		&:hover {
			box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
		}
	}

	// .checkbox__text

	&__text {
		font-weight: 600;
		font-size: 17px;
		line-height: 21px;
		color: #fff;
		opacity: 1;
	}

}


.total-cost {

	// .total-cost__row

	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 30px;

		@media (max-width:$mobileSmall) {
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
		}
	}

	// .total-cost__col

	&__col {
		flex: 0 0 190px;

		@media (max-width:$mobileSmall) {
			flex: 1 1 auto;
		}

		.cost-price {
			margin-bottom: rem(25);
		}
	}

	// .total-cost__error-msg

	&__error-msg {
		color: #FFB6B6;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
	}
}

.btn {}