//====================================================================================================
.footer {
	background: url(@img/footer_bg.png) center bottom / cover no-repeat;
	@include adaptiveValue("padding-top", 122, 0, 680, 500, 1);
	@media (min-width: em(1990)) {
		padding-top: 200px;
	}
	// .footer__container

	&__container {
	}

	// .footer__row

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	// .footer__menu

	&__menu {
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .footer__contacts

	&__contacts {
	}

	// .footer__bottom

	&__bottom {
	}

	.contacts {
		flex-direction: row;
		align-items: center;
		column-gap: 35px;
		flex-wrap: wrap;
		justify-content: flex-end;
		@media (max-width: $tablet) {
			row-gap: 30px;
			justify-content: center;
		}

		// .contacts__link

		&__link {
			margin: 0;
			@media (max-width: $tablet) {
				flex: 0 1 calc(50% - 50px);
				display: flex;
				justify-content: center;
			}
			@media (max-width: em(600)) {
				flex: 1 1 100%;
			}
		}

		// .contacts__link-svg

		&__link-svg {
		}

		// .contacts__link-span

		&__link-span {
		}
	}
	.menu {
		// .menu__body

		&__body {
		}

		// .menu__list

		&__list {
		}

		// .menu__item

		&__item {
			@media (max-width: $tablet) {
				padding: 0px 0px 10px 0px;
			}
		}

		// .menu__link

		&__link {
		}
	}
}

.copyright {
	// .copyright__body

	&__body {
		display: flex;
		justify-content: space-between;
		padding: 40px 0px;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: $tablet) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		@media (max-width: $mobile) {
			padding: 35px 0px 50px 0px;
		}
	}

	// .copyright__item

	&__item {
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		&:last-child {
			color: #a5c8e9;
			display: flex;
			align-items: center;
			transition: all 0.3s ease 0s;
			.copyright__item-svg {
				width: 75px;
				height: 13px;
				margin: 0px 0px 0px 10px;
				use {
					fill: #b7dfff;
					transition: all 0.3s ease 0s;
				}
			}
			&:hover {
				color: #fff;
			}
		}
		@media (max-width: $pc) {
			&:first-child {
				flex: 0 1 32%;
			}
			&:nth-child(2) {
				flex: 1 1 auto;
			}
			&:nth-child(3) {
				order: 4;
				flex: 1 1 100%;
				margin: 15px 0px 0px 32%;
			}
		}
		@media (max-width: $tablet) {
			text-align: center;
			&:first-child,
			&:nth-child(2),
			&:nth-child(3),
			&:last-child {
				flex: 1 1 100%;
				margin: 15px 0px 0px 0px;
			}
			&:first-child {
				order: 1;
				margin-bottom: rem(30);
			}
			&:nth-child(2) {
				order: 2;
			}
			&:nth-child(3) {
				order: 3;
				margin-bottom: rem(40);
			}
			&:last-child {
				order: 4;
			}
		}
	}
	// .copyright__item-svg

	&__item-svg {
	}
}

//====================================================================================================
