//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	padding-bottom: 20px;
	@include adaptiveValue("padding-bottom", 20, 10, 680, 600, 1);
	transition: top 0.6s ease 0s, background-color 0.3s ease 0.1s, border 0.3s ease 0.4s, opacity 0.3s ease 0s;
	background: linear-gradient(180deg, #325c8e 0%, rgba(197, 230, 255, 0.0001) 100%);
	mix-blend-mode: normal;
	opacity: 0.91;
	border-bottom: none;
	&.full-animation {
		.header__container {
			opacity: 0;
			transform: translate(0px, -160px);
			@media (max-width: $mobile) {
				transform: translate(0px, 0px);
				opacity: 1;
			}
		}
	}
	// .header__container
	&._header-scroll {
		position: fixed;
		background-color: #2e4a6b;
		top: -30%;
		border-bottom: 1px solid #0d0d0d;
		opacity: 1;
	}
	&._header-show {
		top: 0;
	}
	&__container {
	}

	// .header__row

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 37px 0px 0px 0px;
		align-items: flex-start;
	}

	// .header__menu

	&__menu {
		flex: 0 1 45%;
		// .menu__body

		.menu__body {
			@media (max-width: $tablet) {
				position: fixed;
				top: -100%;
				left: 0;
				background-color: #2e4a6b;
				width: 100vw;
				height: 100vh;
				transform: translate(0%, -100%);
				transition: all 0.3s ease-out 0s;
				padding: 300px 0px 100px 0px;
				z-index: 5;
				overflow: auto;
			}

			@media (max-width: em(600)) {
				padding: 150px 0px 100px 0px;
			}
		}
		.menu__list {
			@media (max-width: $tablet) {
				flex-direction: column;
				margin: 0px 0px 90px 0px;
			}
		}
		.contacts {
			margin: 0px 0px 100px 0px;
		}
		@media (min-width: $tablet) {
			.contacts {
				display: none;
			}
		}
	}

	// .header__logo

	&__logo {
		margin: -23px 0px 0px 0px;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 40px;
		position: relative;
		z-index: 10;
		@media (max-width: em(649)) {
			padding: 0px 20px;
		}
	}

	// .header__logo-svg

	&__logo-svg {
		width: 130px;
		height: 121.55px;
		@include adaptiveValue("width", 130, 80, 680, 600, 1);
		@include adaptiveValue("height", 121.55, 74, 680, 600, 1);
	}

	// .header__contacts

	&__contacts {
		flex: 0 1 45%;
		display: flex;
		column-gap: 34px;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		position: relative;
		z-index: 10;
		@media (max-width: em(649)) {
			column-gap: 24px;
		}
	}

	// .header__link

	&__link {
		font-size: 18px;
		line-height: 26px;
		display: flex;
		align-items: center;
		margin: 0px 0px 10px 0px;
		@media (max-width: em(649)) {
			margin: 0;
		}
	}

	// .header__link-svg

	&__link-svg {
		width: 26px;
		height: 26px;
		margin: 0px 10px 0px 0px;
		@media (max-width: em(649)) {
			margin: 0;
		}
		// .header__link-svg_mobile

		&_mobile {
			@media (min-width: em(650)) {
				display: none;
				transition: all 0.3s ease 0s;
			}
		}
	}

	// .header__link-span

	&__link-span {
		@media (max-width: em(649)) {
			transition: all 0.3s ease 0s;
			display: none;
		}
	}
}

.icon-menu {
}

.menu-open {
	.header {
		opacity: 1;
	}
	.header__menu {
		.menu__body {
			transform: translate(0px, 0px);
			top: 0;
		}
	}
	.header.full-animation .menu__body {
		margin-top: -37px;
	}

	.header__container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -37px;
			left: 0;
			width: 100%;
			background-color: #2e4a6b;
			z-index: 6;
			@include adaptiveValue("height ", 160, 100, 680, 600, 1);
		}
	}
}
//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 6;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
